* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(180deg, hsl(273deg, 75%, 66%) 0%, hsl(240deg, 73%, 65%) 100%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 12px;
}

h1 {
  font-size: 3em;
  color: hsl(238deg, 29%, 16%);
  margin-bottom: 1em;
}

.main {
  background-color: hsl(0deg, 0%, 100%);
  display: flex;
  justify-content: space-between;
  width: 70em;
  border-radius: 2em;
  margin: 3em;
}

.imgdiv {
  background-image: url(../images/illustration-woman-online-desktop.svg), url(../images/bg-pattern-desktop.svg);
  background-position: -5em, -40em -18em;
  background-size: 35em, 70em;
  background-repeat: no-repeat, no-repeat;
  width: 49%;
  position: relative;
}
.imgdiv img:first-child {
  position: absolute;
  left: -7.5em;
  top: 17em;
}
.imgdiv img:last-child {
  display: none;
}

.qnadiv {
  padding: 5em 0em;
  width: 49%;
}
.qnadiv ul {
  list-style: none;
  padding-right: 1em;
  margin: 0 10em 3em 0;
  height: 22em;
}
.qnadiv ul .selected > p {
  font-weight: bold;
}
.qnadiv li {
  position: relative;
  border-bottom: 1px solid hsl(240deg, 5%, 91%);
  padding: 1.5em 0;
  color: hsl(237deg, 12%, 33%);
}
.qnadiv li:hover {
  cursor: pointer;
}
.qnadiv li p {
  margin-right: 1em;
}
.qnadiv li:hover p {
  color: hsl(14deg, 88%, 65%);
}
.qnadiv li span {
  display: block;
  margin-top: 1em;
  color: hsl(240deg, 6%, 50%);
}
.qnadiv li .hidden {
  display: none;
}
.qnadiv li img {
  position: absolute;
  right: 0;
  top: 1.8em;
  transition: 300ms;
}
.qnadiv li .rotate {
  transform: rotate(180deg);
}




@media (max-width: 820px) {
  h1 {
    margin-bottom: 0.5em;
  }
  .main {
    flex-direction: column;
    align-items: center;
  }
  .imgdiv {
    background-image: url(../images/bg-pattern-desktop.svg);
    background-size: 20em;
    background-position: center -11.5em;
    background-repeat: no-repeat;
    width: 100%;
    height: 8em;
  }
  .imgdiv img:first-child {
    display: none;
  }
  .imgdiv img:last-child {
    display: block;
    position: relative;
    margin: auto;
    top: -95px;
    left: auto;
    width: 18em;
  }
  .qnadiv {
    padding: 1em 0;
    width: 100%;
    height: 36em;
    text-align: center;
  }
  .qnadiv ul {
    list-style: none;
    padding: 0 1em;
    margin: auto;
    max-width: 35em;
  }
}